language: python
python:
    - 2.7
    - 3.5
    - 3.6
    - 3.7
    - 3.8
    - pypy
    - pypy3
install:
    - pip install -U pip setuptools
    - pip install -U zope.testrunner coveralls coverage
    - pip install -U -e ".[test]"
script:
    - coverage run -m zope.testrunner --test-path=src
after_success:
  - coveralls
cache: pip
before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log
notifications:
    email: false
